
<%= render template: "items/new" %>             
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                    <% if @project.items.empty? %>
                    <li class="ui-state-default">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" />No Items, You should add some!</label>
                        </div>
                    </li>
                    <% end %>

                   <% total = @project.items.where(cleared: nil , done: false).each do |item| %>
                    <li class="ui-state-default">

                             <%= link_to '<i class="fa fa-check"></i>'.html_safe,
                              { :controller => :items, :action => :update,
                              :id => item.id, :project_id => @project.id,
                                :item => { :done => true } },
                              { :method => :patch }%>
                                            
                                <%= link_to item.action, edit_project_item_path(@project, item) %>
     
                    </li>
                    <% end %>
 

                <div class="todo-footer">
                    <strong><span class="count-todos"><%= total.count %></span></strong> Items Left
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                <% @project.items.where(cleared: nil , done: true).each do |item| %>
                    <li><%= link_to item.action, edit_project_item_path(@project, item) %></li>
                    <% end %>
                    
                </ul>
                <%= link_to 'Clear Completed Items', clear_project_path(project),
      :method => :delete, :id => "clearer" %>
            </div>
        </div>

